{{> head }}
{{> navbar }}

<div class="row">


    <div class="col-8">
        <h2>Este es el contenido del Acerca de ...</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi massa eros, vulputate nec bibendum at,
            pulvinar a metus. Sed finibus mauris ex, placerat sollicitudin nisl mollis id. Pellentesque habitant morbi
            tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum eu turpis rutrum, pretium nunc
            ut, dapibus nunc. In ullamcorper, lorem eget consequat sodales, purus nunc aliquet elit, eu commodo turpis
            nunc sed leo. Proin fringilla et tellus in elementum. Aenean dignissim metus placerat velit vehicula, in
            gravida leo interdum. Sed cursus pretium dolor, sed interdum erat venenatis non. Sed dapibus enim in
            consequat varius. Morbi semper cursus varius. Nam ac eros at odio porttitor ornare eget ac enim.

            Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nullam fringilla
            turpis enim, in sagittis eros porttitor at. Cras eros dui, posuere a velit at, mollis mattis eros. Duis
            efficitur lectus sit amet tellus pulvinar ornare. Donec nec hendrerit ligula. Etiam a tincidunt orci.
            Pellentesque velit tortor, ullamcorper sed nisi eu, vehicula pulvinar ex. Curabitur ut arcu nec tellus
            tempus rhoncus. Vestibulum mollis in turpis egestas cursus. Donec accumsan sodales enim, sit amet ultrices
            tellus semper at. Quisque nisi ipsum, iaculis nec erat ut, auctor luctus tortor. Proin consequat a enim sed
            interdum. Donec at lacus malesuada, blandit dui non, iaculis tortor. Pellentesque maximus sapien vitae est
            pellentesque commodo.
        </p>
    </div>

    <div class="col-4">
        <img src="assets/img/beach-blond-hair-cliff-coast-2123345.jpg" class="img-thumbnail"></div></img>
</div>


</div>


{{> footer }}