{{> head }}

{{> navbar }}

<div class="jumbotron">
    <h1 class="display-4">¡¡¡ {{ capitalizar textoVariable }} !!!</h1>
    <p class="lead"> Aenean feugiat pharetra lorem nec dapibus. In luctus nisi metus, quis feugiat sem scelerisque
        pellentesque. Sed malesuada ullamcorper augue interdum venenatis. Proin felis mauris, accumsan sodales nibh sit
        amet, bibendum aliquam lectus. Aenean sit amet maximus eros, at ultricies eros.</p>
    <hr class="my-4">
    <p>Donec viverra, urna in mollis varius, leo neque hendrerit leo, sit amet commodo eros mi at leo. Suspendisse a
        augue gravida, tristique sapien consequat, fermentum augue. Nullam pretium magna urna, id molestie mauris congue
        eget. Mauris eu purus ullamcorper, aliquam eros eget, pretium ipsum. Aliquam lorem nibh, fermentum sed posuere
        nec, hendrerit at sem. Curabitur sed posuere neque. </p>

</div>

{{> footer }}